{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-content">
            <div class="container">
                {% if error %}
                    <div class="card-panel red lighten-2 seat-message">{{ error.messageKey|trans }}</div>
                {% endif %}
                <div class="row">
                    <form action="" method="post" class="col push-l3 l6 m12 s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <input type="text" id="username" name="username" value="{{ last_username }}"
                                       class="validate"/>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="password" id="password" name="password" class="validate"/>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button type="submit" class="btn btn-full">login</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
